.counterContent{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}
.counterSelector{
    margin-right:2rem;
    text-decoration: underline;
    cursor: pointer;
}