.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent{
    height: 60%;
    width: 90%;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modalTitle{
    font-size: larger;
}
.textArea{
    resize: none;
    min-width: 70%;
    font-size: 18px;
    line-height: 25px;
    min-height: 60%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
.saveButtonModal{
    width: 150px;
    height: 50px;
  background-color: #e4ebf2;

}
.modalTitle, .textArea, .saveButtonModal{
    margin: 1rem;

    color: #2e578c;
}
.saveButtonModal:hover{
    cursor: pointer;
  background-color: #79acd9;
  color: #e4ebf2;
}